body {
    background-color: rgb(208, 212, 218);
}
.container {
    background-color: rgba(255, 68, 0, 0.26);
    color: white;
    text-align: left;
    font-family: "Mountains of Christmas", cursive;
    border: 1px solid black;
    margin-top: 20px;
}

.instruction-block {
    background-color: rgb(231, 224, 222);
    color:rgb(43, 139, 43);
    text-align: left;
    border: 1px solid gray;
}


.generator {
    background-color: rgb(33, 156, 33);
    color: black;
    border: 1px solid gray;
}


#stats {
    background-color: rgb(0, 128, 117);
    color: black;
    text-align: left;
    border: 1px solid gray;
}

#wins {
    text-align: left;
}
#loses {
    text-align: left;
}


#crystalone, #crystaltwo, #crystalthree, #crystalfour {
    padding: 5px;
    background: white;
    border: 1px solid gray;
}

.totalscore {
    background: rgb(0, 128, 96);
    border: 1px solid gray;
}

.scoreresults {
    background: rgb(0, 128, 96);
    color: white;
    border: 1px solid gray;

   
}
